@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Red Hat Display', sans-serif;
}

a{
    color:white;
    text-decoration: none;
}

button{
    background-color: #5294e2;
    border:none;
    border-radius:50px;
    transition: all 0.3s ease 0s;
}

button:hover{
    color: #5294e2;
}