@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Red Hat Display', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    color:white;
}

a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

a:hover {
    color: #5294e2;
}

button {
    background-color: #5294e2;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

button:hover {
    color: #5294e2;
}

.title span{
    background-image: linear-gradient(to top, #5294e2 40%, transparent 0px);
}

